<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feddit</title>
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
    <header>
        <nav>
    <nav>
        {{#if loggedIn}}
        {{!-- <button id="logout" class="btn-no-style">logout</button> --}}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">feddit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex">
                    <li class="nav-item">
                        <button class="btn btn-outline-primary"><a href="/dashboard">dashboard</a></button>
                    </li>
    
    
                    {{!-- sign up --}}
                    <li class="nav-item">
                    <button id="logout" type="button" class="btn btn-primary">logout</button>
                    </li>
                </ul>
    
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search feddit" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
        {{else}}
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">feddit</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item d-flex">
                            <li class="nav-item">
            
            
                                {{!-- log in --}}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false" data-bs-auto-close="outside" id="log">
                                        Log In
                                    </button>
                                    <form class="dropdown-menu p-4 login-form">
                                        <div class="mb-3">
                                            <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="email-login"
                                                placeholder="email@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="password-login" placeholder="Password">
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                                <label class="form-check-label" for="dropdownCheck2">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </form>
                                </div>
                            </li>
            
            
                            {{!-- sign up --}}
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false" data-bs-auto-close="outside" id="sign">
                                        Sign Up
                                    </button>
            
                                    <form class="dropdown-menu p-4 signup-form">
                                        <div class="mb-3">
                                            <label for="username-signup" class="form-label">username:</label>
                                            <input type="text" class="form-control" id="username-signup" placeholder="Username">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email-signup" class="form-label">Enter an email</label>
                                            <input type="email" class="form-control" id="email-signup"
                                                placeholder="email@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password-signup" class="form-label">Enter a
                                                password</label>
                                            <input type="password" class="form-control" id="password-signup" placeholder="Password">
                                        </div>
                                        <div class="mb-3">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign up</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
            
            
            
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search feddit" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        {{/if}}
    </nav>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>